@use 'variables' as v;

.first-container {
  padding-top: 30px;
  color: v.$Neutral;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  h1 {
    margin-top: 30px;
    font-size: 26px;
    margin-bottom: 0;
    width: 80%;
    max-width: 500px;
  }
  p {
    margin-top: 16px;
    width: 66%;
    max-width: 500px;
    line-height: 1.8;
    margin-bottom: 0;
  }

  .intro-img {
    width: 90%;
    max-width: 500px;
  }

  .btn {
    margin-top: 30px;
    padding: 15px;
    width: 250px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: v.$Neutral;
    background: linear-gradient(to right, v.$Cyan, v.$Blue);
  }
}

.first-container {
  width: 100%;
  background: url(v.$Bg-mobile), v.$Primary1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 290px;
}

@media only screen and (min-width: v.$tablet) {
  .first-container {
    padding-top: 30px;
    color: v.$Neutral;
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
    h1 {
      margin-top: 30px;
      font-size: 26px;
      margin-bottom: 0;
      width: 100%;
      max-width: 450px;
    }
    p {
      margin-top: 16px;
      width: 100%;
      max-width: 420px;
      line-height: 1.8;
      margin-bottom: 0;
    }

    .intro-img {
      width: 100%;
      max-width: 500px;
    }

    .btn {
      margin-top: 30px;
      padding: 15px;
      width: 250px;
      border-radius: 20px;
      border: none;
      font-size: 16px;
      color: v.$Neutral;
      background: linear-gradient(to right, v.$Cyan, v.$Blue);
    }
  }
  .first-container {
    width: 100%;
    background: url(v.$Bg-desktop), v.$Primary1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
}
@media only screen and (min-width: v.$desktop) {
  .first-container {
    width: 100%;
    background: url(v.$Bg-desktop), v.$Primary1;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
    padding-bottom: 200px;
  }
}
