@use 'variables' as v;

.forth-container {
  display: grid;
  place-items: center;
  margin-top: 150px;
  font-size: 12px;
  position: relative;
}
.testimonial-card {
  color: v.$Neutral;
  width: 320px;
  padding: 25px;
  border-radius: 5px;
  background-color: v.$Primary4;
  .tc-profile {
    display: flex;
    margin-top: 2em;
    img {
      width: 32px;
      height: auto;
      border-radius: 16px;
      margin-right: 1em;
    }
    .tc-name {
      p {
        font-size: 10px;
      }
    }
  }
}
.testimonial-card:not(:first-child) {
  margin-top: 3em;
}
.card1::before {
  content: " ";
  position: absolute;
  top: -3.5%;
  left: 2%;
  width: 10%;
  height: 10%;
  z-index: -1;
  background-image: url("/images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.card3::after {
  content: " ";
  position: absolute;
  bottom: -3.5%;
  right: 2%;
  width: 10%;
  height: 10%;
  z-index: -1;
  background-image: url("/images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotateY(180deg) rotateX(180deg);
}

@media only screen and (min-width: v.$tablet) {
  .forth-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    font-size: 12px;
    position: relative;
  }
  .testimonial-card:not(:first-child) {
    margin-top: auto;
  }
  .forth-container::after {
    display: none;
  }
  .testimonial-card {
    margin: 20px;
  }
  .card1,
  .card3 {
    position: relative;
  }
  .card1::before {
    content: " ";
    position: absolute;
    top: -12%;
    left: 2%;
    width: 15%;
    height: 15%;
    z-index: -1;
    background-image: url("/images/bg-quotes.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .card3::after {
    content: " ";
    position: absolute;
    bottom: -12%;
    right: 2%;
    width: 15%;
    height: 15%;
    z-index: -1;
    background-image: url("/images/bg-quotes.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateY(180deg) rotateX(180deg);
  }
}
