// colors
$Neutral: hsl(0, 0%, 100%);
$Primary1: hsl(217, 28%, 15%);
$Primary2: hsl(218, 28%, 13%);
$Primary3: hsl(216, 53%, 9%);
$Primary4: hsl(219, 30%, 18%);

// accent-colors
$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$Light-red: hsl(0, 100%, 63%);

// fonts
$font1: "Raleway", sans-serif;
$font2: "Open Sans", sans-serif;

// asset-path
$Bg-mobile: "/images/bg-curvy-mobile.svg";
$Bg-desktop: "../../images/bg-curvy-desktop.svg";

// media-query-breakpoint

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
